<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <i class="bi bi-speedometer2 me-2"></i>
    <%= link_to "ダッシュボード", dummy_path, data: { turbo_frame: "main" }, class: "link-underline link-underline-opacity-0" %>
  </li>
  <li class="list-group-item">
    <i class="bi bi-person-vcard me-2"></i>
    <%= link_to "アカウント", dummy_path, data: { turbo_frame: "main" }, class: "link-underline link-underline-opacity-0" %>
  </li>
  <li class="list-group-item">
    <i class="bi bi-calculator me-2"></i>
    <%= link_to "積立計算", dummy_path, data: { turbo_frame: "main" }, class: "link-underline link-underline-opacity-0" %>
  </li>
  <li class="list-group-item">
    <i class="bi bi-journal-text me-2"></i>
    <%= link_to "お知らせ", dummy_path, data: { turbo_frame: "main" }, class: "link-underline link-underline-opacity-0" %>
  </li>
</ul>
