<ul class="list-group list-group-flush w-100 me-2">
  <% menu = [
    { path: ->{ dummy_path }, icon: "calculator",   label: "積立計算",     roles: [:member, :admin, :guest], turbo: true },
    { path: ->{ dummy_path }, icon: "filetype-py",  label: "Pythonテスト", roles: [:admin],                  turbo: true },
    { path: ->{ dummy_path }, icon: "journal-text", label: "お知らせ",     roles: [:member, :admin],         turbo: true },
    { path: ->{ dummy_path }, icon: "shield-lock",  label: "管理",         roles: [:admin],                  turbo: true }
  ] %>

  <% roles_now =
      if current_user&.guest?
        [:guest]
      elsif current_user&.admin?
        [:admin]
      else
        [:member]
      end %>

  <% menu.each do |item| %>
    <% next unless (item[:roles] & roles_now).any? %>
    <% link_opts = item[:turbo] ? { data:{ turbo_frame:"main"} } : {} %>
    <li class="list-group-item">
      <%= link_to item[:path].call, { class:"mb-2 link-underline link-underline-opacity-0 link-opacity-25-hover fw-medium" }.merge(link_opts) do %>
        <i class="bi bi-<%= item[:icon] %> fs-4" aria-label="<%= item[:label] %>"></i>
        <span class="ms-3"><%= item[:label] %></span>
      <% end %>
    </li>
  <% end %>
</ul>
