<p><%= @resource.try(:name) || @email %> 様</p>
<p>パスワード再設定のご依頼を受け付けました。以下のボタンから再設定手続きを行ってください。</p>
<p>
  <%= link_to "パスワードを再設定する", edit_password_url(@resource, reset_password_token: @token), class: "btn btn-primary" %>
</p>
<p>この操作にお心当たりがない場合は、本メールは破棄してください。上記リンクを開くまでパスワードは変更されません。</p>
